.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
    padding: 0px 35px;
}

.card {
    background-color: #EFDB6F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 225px;
    width: 175px;
    border-radius: 15px;
}

.card-title {
    background-color: #863FE1;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0px;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
}

.card-button {
    background-color: #863FE1;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 7px 15px;
    border: 0px;
    margin-bottom: 11px;
    cursor: pointer;
}

.row-title {
    font-size: 22px;
    padding: 30px 40px;
}