.checkbox {
    height: 15px;
    width: 15px;
    border: 2px solid #9747FF;
    accent-color: #9747FF;
}

.checkboxes-container {
    display: flex;
    justify-content: start;
    align-items: center;
    /* gap: 100px; */
    gap: 30px;
    padding: 0px 0px 0px 60px;
    flex-wrap: wrap;

}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0px 70px 0px 0px;
}

.subtitle {
    color: #414141;
    padding: 17px 0px 17px 40px;
}

.input-container {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; */
}

.appointment-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    font-size: 22px;
    padding: 0px 0px 10px 40px;
    border-bottom: 1px solid #9747FF;
}

.appointment-input {
    border: 1px solid #9747FF;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: 85%;
}

.select {
    width: 88%;
    border-radius: 20px;
    background-color: #ffffff;
}

.inputs {
    padding: 0px 0px 0px 40px;
    display: flex;
    flex-direction: column;
}

.appointment-button {
    padding: 7px 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #EFDB6F;
    border-radius: 20px;
    border: 0px;
    width: 150px;
}

.appointment-input-label {
    padding: 0px 0px 3px 5px;
}

.calendar-container {
    padding: 40px 40px 0px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.available-hours-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    padding: 10px 10px 0px 10px;
    max-width: 330px;
}

.available-hour {
    font-size: 18px;
    padding: 3px 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.button-selected {
    background-color: rgb(198, 194, 194);
}